@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainblack: #222;
    --mainGrey: #ececec;
    --mainSpace: 0.01rem;
    --mainTransation: all 0.3s linear;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* ----NavBar ----*/
.navBar {
    background: var(--mainWhite);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}

.navBar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.nav-icon {
    font-size: 1.rem;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    color: var(--mainWhite);

}

/*--- Drop down --*/
.dropbtn {
  background-color: #4CAF50;
  color: #fff ;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*---- end of Drop down --- */
/* ------- end of Navbar ----- */
/*----Main Header--------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/bed-1.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing:  var(--mainSpace);
    margin-bottom: 3rem;

}  

.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpace);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainblack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransation);
    cursor: pointer;
}
.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}
/*----end of Main Header--------- */
/*----products--------- */
.products {
    padding: 1.5rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpace);
}
.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 55%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpace);
    transform: translateX(101%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--mainWhite);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
    transform: translateX(0);
}
.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransation);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 1rem;
    letter-spacing: var(--mainSpace);
    text-align: center;

}

.product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpace);
    text-align: center;
    color: var(--primaryColor);
    font-size: 13px;
}

/* -------- Cart ------ */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransation);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden; 
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transform: translateX(100%);
    transition: var(--mainTransation);
}

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}
.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpace);
}

/* ------- Cart Item ------ */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 0.85rem;
    letter-spacing:  var(--mainSpace);
    text-transform: capitalize;
}
.cart-item {
    color: grey;
    cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
}

/* ----- end of Cart item ---- */

.cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpace);
    text-align: center;
}

.cart-footer {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.bottom {
    background: rgb(231, 226, 221);
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-top: 1px solid #CCC;
    justify-content: space-around;
    align-items: center;
}
.inner-footer {
    background:rgb(231, 226, 221);
    padding: 20px 10px 40px 10px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    flex-wrap: wrap;
}

.footer-title {
   text-align: center;
   font-size: 16px;
   margin-bottom: 10px;
}
.ts-footer {
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ts-footer li {
    text-decoration: none;
    font-size: 14px;
}
.ts-bottom{
    background: rgb(231, 226, 221);
    display: flex;
    align-items: flex-start;
    padding-left: 40%;
}
.ts-bottom p {
    text-align: center;
    padding-bottom: 15px;
    color: #000;
    margin-right: 7px;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
.link-ts {
    cursor: pointer;
}





/* -------- end of Cart ------ */

























/*----- end of Header -----*/